.forca {
    fill: transparent;
    stroke: #000000;
    stroke-width: 4px;
    stroke-linecap: round;
    position: absolute;
    right: 10%;
    top: 9%;
    z-index: 2;
  }
  
  .forca-parte {
    display: none;
  }